.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%), url('../img/p1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.title {
    font-size: 3rem;
    margin: 0;
    padding: 80px 0 10px 0;
    color: white;
}

.subtitle {
    font-size: 1.2rem;
    margin: 0;
    color: white;
}